.first,.four
{
  font-size: 23px;
 color: darkturquoise;
}
.third
{
    font-size: 23px;
    color: yellow;
}
.five
{
    font-size: 23px;
    color: green;
}
.second,.Six
{
    font-size: 23px;
    color: red;
}

.Container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 38vw;
    height: 75vh;
    border: 1px solid gainsboro;
    border-radius: 12px;
}
.header{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.sign{
    display: flex;
    justify-content: center;
}
.use{
    display: flex;
    justify-content: center;
    margin: 0px 10px;
}
.use ,h5{
    margin-top: 0px;
}
.emailOne{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;    
}
.textletter{
    display: flex;
    justify-content: center;
}
.button{
    padding: 11px;
}

#GFG{
    color: #3333c1ad;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
}